<div class="cabecalho">
  <div class="flex-cabecalho">
    <p></p>

    <nav>
      <ul class="links-cabecalho">
        <li>
          <a class="link" (click)="scrollTo('sobre')"> Sobre </a>
        </li>
        <li>
          <a class="link" (click)="scrollTo('habilidades')"> Habilidades </a>
        </li>
        <li>
          <a class="link" (click)="scrollTo('projetos')"> Projetos </a>
        </li>
        <li>
          <a class="link" (click)="scrollTo('contato')"> Contato </a>
        </li>
      </ul>
    </nav>

    <div class="botao">
      <button
        class="pi pi-download botao-cv"
        (mouseenter)="onMouseEnter()"
        (mouseleave)="onMouseLeave()"
        [ngClass]="{ 'hovered': isHovered }"
      >
        CV
      </button>
    </div>
  </div>
</div>
<div class="corpo-dashboard">
  <section id="sobre"></section>
  <div class="dashboard">
    <div class="pagina-inicial">
      <h1>Olá, eu sou Wallysson Marcos</h1>
      <h3>Desenvolvedor Full Stack</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate quidem repudiandae eligendi maxime ducimus, sunt doloribus eaque maiores magnam, vero incidunt, saepe porro dolores? Culpa modi voluptates nisi repellat odio!
      </p>
    </div>

    <img class="imagem-perfil" src="sherek.jpg" alt="imagem" />
  </div>
  <div >
    <h4>scroll</h4>
    <p class="pi pi-angle-double-down"></p>
  </div>
  <section id="habilidades">
    <div class="habilidades">
      <h2 class="tittle-items">Habilidades</h2>
      <div class="imagens">
        <img class="img-c-sharp" src="html-5.png" alt="" />
        <img class="img-c-sharp" src="css-3.png" alt="" />

        <img class="img-angular" src="angular.png" alt="" />
        <img class="img-c-sharp" src="c-sharp.png" alt="" />
      </div>

      <div>
        <img class="img-git" src="git.png" alt="" />
      </div>
    </div>
  </section>

  <section id="projetos">
    <h2 class="tittle-items">Meus projetos</h2>
    <div class="kd-projeto">
      <h4>sherek</h4>
      <div class="img-projetos">
        <div class="card">
          <p-galleria
            [value]="images"
            [showItemNavigators]="true"
            [showThumbnails]="false"
            [showIndicators]="true"
            [showItemNavigatorsOnHover]="true"
            [circular]="true"
            [responsiveOptions]="responsiveOptions"
            [containerStyle]="{ 'max-width': '640px', 'border' : 'none',}"
          >
            <ng-template #item let-item>
              <img
                [src]="item.projetoPriorize"
                style="width: 20rem; display: block"
              />
            </ng-template>
            <ng-template #thumbnail let-item>
              <img [src]="item.thumbnailImageSrc" style="display: block" />
            </ng-template>
          </p-galleria>
        </div>
      </div>
    </div>
  </section>

  <section id="contato">
    <form action="https://formspree.io/f/mgvzqjww" method="POST">
      <label
        class="label-contato"
        style="
          background-color: var(--p-gray-50);
          margin-left: 2.56rem;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;
        "
      >
        Seu email:
        <input
          style="
            background-color: var(--p-gray-50);
            border: solid 1px var(--border);
            border-radius: 5px;
            height: 2rem;
            width: 20rem;
            color: black;
          "
          type="email"
          name="email"
        />
      </label>
      <label
        class="label-contato"
        style="display: flex; align-items: center; gap: 1rem"
      >
        Sua mensagem:
        <textarea
          style="
            background-color: var(--p-gray-50);
            border: solid 1px var(--border);
            border-radius: 5px;
            height: 6rem;
            width: 20rem;
            color: black;
          "
          message
        ></textarea>
      </label>
      <!-- your other form fields go here -->
      <button
        type="submit"
        style="
          width: 4rem;
          background-color: var(--p-gray-200);
          color: black;
          border: 0;
        "
      >
        Send
      </button>
    </form>
    <div>
      <div class="links">
        <a href="https://github.com/wallyssonmar" target="_blank"
          ><img src="github.png" alt="" />Github</a
        >
        <a
          href="https://www.linkedin.com/in/wallysson-marcos-238a74261/"
          target="_blank"
          ><img src="linkedin.png" alt="" />Linkedin</a
        >
        <div class="contato-info">
        <i class="pi pi-whatsapp"></i>
        <p>Whatsapp: (35) 9 8818-3771</p>
      </div>
      </div>
      
    </div>
  </section>
  <footer>Wallysson Marcos</footer>
</div>
