section {
  scroll-margin-top: 80px; /* <--- ideal */
}

.cabecalho {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  border-bottom: 2px solid var(--border);
  background-color: var(--background);
  z-index: 999;
  
}

.flex-cabecalho {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links-cabecalho {
  display: flex;
  gap: 2rem;
  list-style: none;
  
}

.link {
  text-decoration: none;
  color: var(--texto-primario);
  padding: 0.5rem 1rem;
  
}

.link:hover {
  cursor: pointer;
  background-color: var(--p-gray-300);
  border-radius: 5px;
}
.botao {
  margin: 0.4rem 2rem 0 0;
  gap: 0.5rem;
}

.botao-cv {
  padding: 8px 15px;
  border: 1px solid var(--border);
  border-radius: 5px;
  background-color: var(--background);
  
}

.botao-cv p {
  font-family: "Poppins", sans-serif;
}
.hovered {
  cursor: pointer;
}

.dashboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding-top: 15rem;
  margin: 0 auto 15rem auto;
}

.imagem-perfil {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.pagina-inicial {
  font-size: 1.5rem;
  width: 50rem;
}
.scroll{
  width: 3rem;
}


.habilidades {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-top: 10rem;
}
#projetos {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10rem;
  
}
.projetos {
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.kd-projeto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.kd-projeto h4{
  font-size: 30px;

}

.img-projetos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  width: 50rem;
  gap: 2rem;
}
.galleria-image{
  display: block;
  width: 100rem;
}

.img-projetos p{
  
  padding: 1rem;
}

.tittle-items {
  font-size: 40px;
}

.imagens {
  display: flex;
  gap: 5rem;
}

.img-angular {
  width: 17rem;
  height: 5rem;
}
.img-c-sharp {
  width: 5rem;
  height: 5rem;
}
.img-git{
  width: 5rem;
  height: 5rem;
}
#contato{ 
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10rem 0 3rem 0;
  gap: 3rem;
}
.contato-info {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  height: 2rem;
  
}

#contato form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  margin-left: 2rem;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  
  height: 224px;
  gap: 2rem;
  
}

.links a {
  text-decoration: none;
  color: var(--texto-primario);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.links a img {
  width: 2.5rem;
  height: 2.5rem;
}

footer {
  width: 100vw;
  height: 3rem;
  display: flex;
  align-items: center;
  background-color: var(--p-gray-300);
  padding-left: 2rem;
}

@media ( max-width: 768px){
  .flex-cabecalho{
    width: 100vw;
    align-items: center;
    justify-content: center;
    
  }

  .cabecalho{
    display: none;
  }
  .menu-mobile{
    position: fixed;
    margin: 0.5rem;
    
  }
  
  .corpo-dashboard{
    
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    
  }
  .dashboard{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-bottom: 0rem;
    gap: 1rem;
  }
  .imagem-perfil{
    margin-top: 4rem;
  }

  .pagina-inicial{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: auto;
    font-size: 15px;
    padding-left: 1rem;
    
  }
  .scroll{
    width: 1.5rem;
  }

  
  .habilidades{
    gap: 1rem;
    margin-top: 2rem;
  }

  .tittle-items{
    font-size: 30px;
  }

  .imagens{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    
  }
  
  #projetos{
    margin-top: 6rem;
  }
  .img-projetos{
    width: 100vw;
  }

  .kd-projeto p{
    width: 100vw;
  }

   .galleria-image {
    width: 25rem;
  }

  #contato{
    flex-direction: column-reverse;
  }
}

