<div class="cabecalho">
  <div class="flex-cabecalho">
    <p></p>

    <nav>
      <ul class="links-cabecalho">
        <li>
          <a class="link" (click)="scrollTo('sobre')"> Sobre </a>
        </li>
        <li>
          <a class="link" (click)="scrollTo('habilidades')"> Habilidades </a>
        </li>
        <li>
          <a class="link" (click)="scrollTo('projetos')"> Projetos </a>
        </li>
        <li>
          <a class="link" (click)="scrollTo('contato')"> Contato </a>
        </li>
      </ul>
    </nav>

    <div class="botao">
      <a
        href="Wallysson Marcos Rezende da Silva P.pdf"
        download="Wallysson Marcos Rezende da Silva P.pdf"
        class="pi pi-download botao-cv"
        (mouseenter)="onMouseEnter()"
        (mouseleave)="onMouseLeave()"
        [ngClass]="{ 'hovered': isHovered }"
        style="
          text-decoration: none;
          color: var(--texto-primario);
          border: solid 1.5px var(--border);
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;
          width: 5rem;
          height: 2rem;
        "
        ><p>CV</p></a
      >
    </div>
  </div>
</div>
<div class="menu-mobile">
  <p-menu #menu [model]="items" [popup]="true" appendTo="body"></p-menu>
  <p-button (click)="menu.toggle($event)" icon="pi pi-ellipsis-v" [style]="{'background-color':'var(--p-gray-300)','border':'none'}"></p-button>
</div>

<div class="corpo-dashboard">
  <section id="sobre"></section>
  <div class="dashboard">
    <div class="pagina-inicial">
      <h1>Olá, eu sou Wallysson Marcos</h1>
      <h3>Desenvolvedor Full Stack</h3>
      <p>
          Sou desenvolvedor iniciante com conhecimentos básicos em C#, Angular e
        Git. Gosto de aprender novas tecnologias e estou sempre buscando evoluir
        como programador full stack.
      </p>
    </div>

    <img class="imagem-perfil" src="minha-foto.jpeg" alt="imagem" />
  </div>
  <div  style="display: flex; align-items: center; justify-content: center">
    <img class="scroll"  src="down-arrow.png" alt="" />
    <h4 style="font-size: 20px">scroll</h4>
  </div>
  <section id="habilidades">
    <div class="habilidades">
      <h2 class="tittle-items">Habilidades</h2>
      <div class="imagens">
        <img class="img-c-sharp" src="habilidades/html-5.png" alt="html-5" />
        <img class="img-c-sharp" src="habilidades/css-3.png" alt="css-3" />

        <img class="img-angular" src="habilidades/angular.png" alt="angular" />
        <img class="img-c-sharp" src="habilidades/c-sharp.png" alt="c-sharp" />
      </div>

      <div>
        <img class="img-git" src="habilidades/git.png" alt="git" />
      </div>
    </div>
  </section>

  <section id="projetos">
    <h2 class="tittle-items">Meus projetos</h2>
    <div class="kd-projeto">
      <h4>Priorize</h4>
      <div style="gap: 2rem" class="img-projetos">
        <p style=" font-size: 23px">
          Este foi meu primeiro projeto utilizando Angular e C#. Inicialmente
          usei SQL Server como banco de dados, mas ao preparar o deploy com
          Docker, optei por migrar para SQLite para simplificar a hospedagem.
          Esse projeto me ajudou a entender melhor o ciclo completo de
          desenvolvimento, integração e deploy de aplicações web.
        </p>
        <div class="botao">
          <a
            href="https://github.com/wallyssonmar/Priorize"
            target="_blank"
            
            class="pi pi-external-link botao-cv"
            (mouseenter)="onMouseEnter()"
            (mouseleave)="onMouseLeave()"
            [ngClass]="{ 'hovered': isHovered }"
             
            style="
              text-decoration: none;
              color: var(--texto-primario);
              border: solid 1.5px var(--border);
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 0.5rem;
              width: 9rem;
              height: 2.5rem;
              
            "
            ><p>Ver projeto</p></a
          >
        </div>
        <div class="card">
          <p-galleria
            [value]="images"
            [showItemNavigators]="true"
            [showThumbnails]="false"
            [showIndicators]="true"
            [showItemNavigatorsOnHover]="true"
            [circular]="true"
            [responsiveOptions]="responsiveOptions"
            [containerStyle]="{ 'max-width': '950px','border': 'solid 1px var(--border)'}"
          >
            <ng-template #item let-item>
              <img
                [src]="item.projetoPriorize"
                 class="galleria-image"
              />
            </ng-template>
            <ng-template #thumbnail let-item>
              <img [src]="item.thumbnailImageSrc" style="display: block" />
            </ng-template>
          </p-galleria>
        </div>
      </div>
    </div>
  </section>

  <section id="contato">
    <form action="https://formspree.io/f/mgvzqjww" method="POST">
      <label
        class="label-contato"
        style="
          background-color: var(--p-gray-50);

          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: center;
          gap: 0.5rem;
        "
      >
        Seu email:
        <input
          style="
            background-color: var(--p-gray-50);
            border: solid 1px var(--border);
            border-radius: 5px;
            height: 2rem;
            width: 20rem;
            color: black;
          "
          type="email"
          name="email"
        />
      </label>
      <label
        class="label-contato"
        style="
          display: flex;
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: center;
          gap: 0.5rem;
        "
      >
        Sua mensagem:
        <textarea
          style="
            background-color: var(--p-gray-50);
            border: solid 1px var(--border);
            border-radius: 5px;
            height: 6rem;
            width: 20rem;
            color: black;
          "
          message
        ></textarea>
      </label>
      <!-- your other form fields go here -->
      <button
        type="submit"
        style="
          width: 8rem;
          height: 2rem;
          font-size: 20px;
          background-color: var(--p-gray-300);
          color: black;
          border: 0;
          border-radius: 5px;
        "
      >
        Send
      </button>
    </form>
    <div>
      <div class="links">
        <a href="https://github.com/wallyssonmar" target="_blank"
          ><img src="github.png" alt="" />Github</a
        >
        <a
          href="https://www.linkedin.com/in/wallysson-marcos-238a74261/"
          target="_blank"
          ><img src="linkedin.png" alt="" />Linkedin</a
        >
        <div class="contato-info">
          <img style="width: 2.5rem" src="whatsapp.png" alt="" />
          <p>(35) 9 8818-3771</p>
        </div>
      </div>
    </div>
  </section>
  <footer>© 2025 Wallysson Marcos</footer>
</div>
