section {
  scroll-margin-top: 80px; /* <--- ideal */
}

.cabecalho {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  border-bottom: 2px solid var(--border);
  background-color: var(--background);
}

.flex-cabecalho {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links-cabecalho {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--texto-primario);
  padding: 0.5rem 1rem;
}

.link:hover {
  cursor: pointer;
  background-color: aqua;
}
.botao {
  margin-right: 1rem;
}

.botao-cv {
  padding: 8px 15px;
  border: 1px solid var(--border);
  border-radius: 5px;
  background-color: var(--background);
}
.hovered {
  cursor: pointer;
}

.dashboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin: 15rem auto 15rem auto;
}

.imagem-perfil {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.pagina-inicial {
  font-size: 1.5rem;
  width: 50rem;
}

.links {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 5rem;
}

.links a {
  text-decoration: none;
  color: var(--texto-primario);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.links a img {
  width: 2.5rem;
  height: 2.5rem;
}

.habilidades {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
#projetos {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10rem;
  
}
.projetos {
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.kd-projeto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.kd-projeto h4{
  font-size: 30px;

}

.img-projetos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.tittle-items {
  font-size: 40px;
}

.imagens {
  display: flex;
  gap: 5rem;
}

.img-angular {
  width: 17rem;
  height: 5rem;
}
.img-c-sharp {
  width: 5rem;
  height: 5rem;
}
.img-git{
  width: 5rem;
  height: 5rem;
}
#contato{
  margin-bottom: 2rem;
}
.contato-info {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  height: 2rem;
  margin-left: 1rem;
}

footer {
  width: 100vw;
  height: 3rem;
  display: flex;
  align-items: center;
  background-color: aliceblue;
}
